#autotools
Makefile.in
.deps/
autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/config.h.in~
config.h

main.o
water7_lib
lib/WVT_Water7.o

#docs
/docs/doxygen
/docs/_build
tests/.dirstamp
